<!DOCTYPE HTML>
<html>
<head>
    <title>FirstPage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" href="css/startpage.css" rel="stylesheet" />
</head>
<body>
<i style="color: white">Вы вошли под учётной записью с правами:{{userstatus}}</i><br>
<a style="color: white" href="/menu">Нажмите чтобы продолжить</a>
</body>
</html>